body {
  background-size: cover;
  background-image: url('../images/background-lg-3.jpg');
  color: white;
}

h1 small {
  color: rgba(255,255,255,0.6);
}

h1, h2, h3 {
  color: white;
}

.header {
  background-color: rgba(0,0,0,0.75);
}

.nav-header {
  background-color: rgba(0,0,0,0.5);
  padding: 10px;
  display: inline-block;
}

.nav-header:hover {
  background-color: rgba(0,0,0,0.75);
}

.page-header {
  border-bottom: 1px solid rgba(255,255,255,0.5);
}

.back-button {
  cursor: pointer;
}

.back-button:hover {
  color: rgba(255,255,255,0.6);
}

.hidden {
  display: none;
}

.content-container  {
  background-color: rgba(0,0,0,0.5);
}

.content-title {
  cursor: pointer;
  margin: 10px 0;
}

.content-title:hover {
  /* background-color: rgba(255,255,255, 0.5); */
}

@media (min-width: 0px) {
  body {
    background-position-x: -285px;
  }

  .hide-xs {
    display: none;
  }
}

@media (min-width: 768px) {
  body {
    background-position-x: 0px;
  }

  .content-nav {
    padding-top: 30px;
  }

  .content-nav:last {
    padding-bottom: 30px;
  }

  .hide-xs {
    display: inherit;
  }
}

@media (min-width: 922px) {
}

