body {
  background-size: cover;
  background-image: url('../images/background-lg-3.jpg');
  color: white;
}

small {
  color: rgba(255,255,255,0.6);
}

h1, h2, h3 {
  color: white;
}

a:hover, a:focus {
  /* color: rgba(0,0,255,0.5); */
}

.header {
  background-color: rgba(0,0,0,0.75);
}

.nav-header {
  background-color: rgba(0,0,0,0.5);
  padding: 10px;
  display: inline-block;
}

.nav-header:hover {
  background-color: rgba(0,0,0,0.75);
}

.page-header {
  border-bottom: 1px solid rgba(255,255,255,0.5);
}

.back-button {
  cursor: pointer;
}

.back-button:hover {
  color: rgba(255,255,255,0.6);
}

.hidden {
  display: none;
}

.content-container  {
  background-color: rgba(0,0,0,0.5);
}

.content-title {
  cursor: pointer;
}

li {
  list-style: none;
  margin: 20px;
  font-size: 20px;
}

p {
  font-size: 18px;
  padding-left: 10px;
  margin-bottom: 10px;
}

@media (min-width: 0px) {
  body {
    background-position-x: -285px;
  }

  .hide-xs {
    display: none;
  }
}

@media (min-width: 768px) {
  body {
    background-position-x: 0px;
  }

  .content-nav {
    padding-top: 20px;
  }

  .content-nav:last {
    padding-bottom: 30px;
  }

  .hide-xs {
    display: inherit;
  }
}

@media (min-width: 922px) {
}

