body {
}

@media (min-width: 0px) {
  .content-title {
    cursor: pointer;
    margin: 10px 0;
  }

  .content-title:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .hide-xs {
    display: none;
  }
}

@media (min-width: 768px) {
  .content-container {
    padding-top: 30px;
  }

  .content-container:last {
    padding-bottom: 30px;
  }

  .content-title {
    cursor: default;
  }

  .content-title:hover {
    background-color: inherit;
  }

  .hide-xs {
    display: inherit;
  }
}
