<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="nav-header">Accommodations</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4 class="nav-header">White Bear Country Inn <small>(recommended)</small></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10">
      <p>
        Please call the hotel directly at <a href="tel:6514295393">651-429-5393</a> and ask for the "Firkus/Kreeger wedding rooms" to receive the discounted rate ($114.95 / night).
        Book by September 3rd - after that date, rooms will be released to the general public and availablity is not guaranteed.
      </p>
      <p>
        The hotel is 4 blocks from the venue.
      </p>
      <p>
        <a href="http://www.whitebearcountryinn.com" target="_blank">Hotel website</a>
      </p>
      <p>
        4940 Highway 61 North, White Bear Lake, MN 55110 <a href="https://www.google.com/maps/place/Best+Western+Plus+White+Bear+Country+Inn/@45.090549,-93.00597,17z/data=!3m1!4b1!4m7!1m4!3m3!1s0x52b2d0eca6be2923:0xf3f055f8e191d4d7!2sBest+Western+Plus+White+Bear+Country+Inn!3b1!3m1!1s0x52b2d0eca6be2923:0xf3f055f8e191d4d7" target="_blank">(map)</a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4 class="nav-header">Fairfield Inn &amp; Suites</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10">
      <p>
        Please call the hotel directly at <a href="tel:6517973008">651-797-3008</a> and ask for the "Firkus-Kreeger wedding rooms" to receive the discounted rate ($119 / night).
        Book by September 1st - after that date, rooms will be released to the general public and availablity is not guaranteed.
      </p>
      <p>
        The hotel is about a 10 minute drive from the venue; shuttles will be provided.
      </p>
      <p>
        <a href="http://www.marriott.com/hotels/travel/mspfn-fairfield-inn-and-suites-st-paul-northeast/" target="_blank">Hotel website</a>
      </p>
      <p>
        1125 East County Road E, Vadnais Heights, MN 55110 <a href="https://www.google.com/maps/place/Fairfield+Inn+%26+Suites+St.+Paul+Northeast/@45.051059,-93.053309,15z/data=!4m2!3m1!1s0x0:0x93a9d5f10b9a8ea3?sa=X&ei=x_PXVPi_O9WgyAS5jILAAw&ved=0CJoBEPwSMAo" target="_blank">(map)</a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4 class="nav-header">Shuttle Information</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>
        Please <a href="/schedule">click here for shuttle information</a>.
      </p>
    </div>
  </div>

</div>
