<html>
  <head>
    <title>Wedding Page</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/wedding.js"></script>
  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-5">
          <img src="images/photo1.jpg" class="img-responsive" alt="" />
        </div>
        <div class="col-xs-12 col-sm-7">
          <div class="page-header">
            <h1>Jamie &amp; Nick's <small>Wedding Site</small></h1>
          </div>
        </div>
      </div>
    </div>

    {{#content}}
    <div class="container content-container">
      <div class="row">
        <div class="col-xs-12 col-sm-5 content-title">
          <h3>{{title}}</h3>
        </div>
        <div class="col-xs-12 col-sm-7 hide-xs content-copy">
          <!-- TODO: Grab content here... -->
          Some copy here. Some copy here. Some copy here. Some copy here.
          Some copy here. Some copy here. Some copy here. Some copy here.
          Some copy here. Some copy here. Some copy here. Some copy here.
          Some copy here. Some copy here. Some copy here. Some copy here.
        </div>
      </div>
    </div>
    {{/content}}

  </body>
</html>
