<html>
  <head>
    <title>Wedding Page</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="page-header">
            <h1>Jamie &amp; Nick's <small>Wedding Page</small></h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="media">
            <img class="pull-left" src="images/photo1.jpg" alt="" width="200" />
            <!-- <span class="glyphicon glyphicon-glass pull-left"></span> -->
            <div class="media-body">
              <h4 class="media-heading">Coming Soon!</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
