<div class="nav">
  <div class="container content-nav">
    <div class="row">
      {{#content}}
        <div class="col-xs-12 col-md-5 content-title" layout="{{layout}}" title="{{title}}" path="{{path}}">
          <h4 class="nav-header">{{title}}</h4>
        </div>
      {{/content}}
    </div>
  </div>

  <script type="text/javascript">
    // Show/hide container.
    $('.content-title').click(function() {
      var title = this.getAttribute('title');
      var layout = this.getAttribute('layout');
      var path = this.getAttribute('path');
      Wedding.load(title, layout, path);
    });
  </script>
</div>
