<div class="container">
  <div class="row">
    <div class="col-xs-11 col-sm-10 col-md-8">
      <p class="thanks">
        We are truly grateful for all the love and support from our wonderful friends and family. Thank you for being an important part of our lives. We look forward to celebrating our wonderful day with you!
      </p>
      <p class="thanks">
        With love,
      </p>
      <p class="thanks" style="font-style: italic;">
        Nick &amp; Jamie
      </p>
    </div>
  </div>
</div>

<div class="nav">
  <div class="container content-nav">
    <div class="row">
      {{#content}}
        <div class="col-xs-12 col-md-5 content-title" layout="{{layout}}" title="{{title}}" path="{{path}}">
          <h4 class="nav-header">{{title}}</h4>
        </div>
      {{/content}}
    </div>
  </div>

  <script type="text/javascript">
    // Show/hide container.
    $('.content-title').click(function() {
      var title = this.getAttribute('title');
      var layout = this.getAttribute('layout');
      var path = this.getAttribute('path');
      Wedding.load(title, layout, path);
    });
  </script>
</div>
