<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="nav-header">Other Information</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4 class="nav-header">Kids</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10">
      <p>
        While we love kids, we're not able to accommodate all. In general, kids from these groups are invited: out-of-town guests and close family members. For local MN parents, we hope you consider it a night out with your significant other. If you have any questions, please feel free to reach out to us.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4 class="nav-header">Weather</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10">
      <p>
        With the leaves starting to change colors, fall is a beautiful time in MN. The average high temperature for the beginning of October is in the lower 60's - perfect for spending some time outside or exploring downtown White Bear Lake. The average low temperature is in the mid 40's, so come prepared with layers. Also, be sure to check the forecast because MN weather can be wildly unpredictable.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4 class="nav-header">Attire</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10">
      <p>
        Cocktail attire:
      </p>
      <p>
        Guys - suit and tie or dress pants with a button-down shirt and tie
      </p>
      <p>
        Gals - cocktail dress or a long, dressy skirt and top 
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4 class="nav-header">Things to do in Minnesota</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10">
      <p>
        <a href="http://www.twincities.com/shopping/ci_27236461/explore-shops-and-restaurants-white-bear-lake" target="_blank">Charming downtown White Bear Lake</a>
      </p>
      <p>
        <a href="http://www.virtualtourist.com/travel/North_America/United_States_of_America/Minnesota/Things_To_Do-Minnesota-TG-C-1.html" target="_blank">Minnesota Things to Do</a>
      </p>
      <p>
        <a href="http://blogs.citypages.com/dressingroom/2012/07/50_fun_things_to_do_in_minnesota.php" target="_blank">50 Fun Things to Do in Minnesota</a>
      </p>
      <p>
        <a href="http://www.tripadvisor.com/Attractions-g28944-Activities-Minnesota.html" target="_blank">Top things to do in Minnesota</a>
      </p>
    </div>
  </div>

</div>
