<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="nav-header">Registries</h3>
      <p>
        Thanks for visiting our registries!
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-10">
      <p>
        <a href="http://www.google.com/url?q=http%3A%2F%2Fwww.bedbathandbeyond.com%2Fstore%2Fgiftregistry%2Fview_registry_guest.jsp%3FpwsToken%3D%26eventType%3DWedding%26registryId%3D541972848%26pwsurl%3D&sa=D&sntz=1&usg=AFQjCNEz2Ul1DMGNSxP6dynTQU4SOt7wRA" target="_blank"><img src="images/bedbathandbeyond-logo.jpg" alt="Bed Bath &amp; Beyond"></a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-10">
      <p>
        <a href="http://www.heathceramics.com/giftregistry/view/index/id/1c338ae770b6d4b3a069037d1d8a2693/" target="_blank"><img src="images/heath_logo.jpg" alt="Heath Ceramics"></a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-10">
      <p>
        <a href="http://www1.macys.com/registry/wedding/guest/?registryId=2238434" target="_blank"><img src="images/macys.png" alt="Macy's" style="background-color: white"></a>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-10">
      <p>
        <a href="http://www.honeyfund.com/wedding/firkuskreeger2015" target="_blank">Contribute to our honeymoon using <img src="images/hf_logo_white.png" alt=""></a>
      </p>
    </div>
  </div>
</div>

