<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="nav-header">RSVP</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-10">
      <p>
        Coming soon <small>(will be added once invites are sent out)</small>
        <script type="text/javascript" src="http://app.rsvpify.com/embed/4041"></script>
        <script type="text/javascript" src="http://app.rsvpify.com/js/iframeResizer.min.js"></script>
        <script type="text/javascript">iFrameResize({autoResize: true,heightCalculationMethod: 'max',enablePublicMethods: true}, "#RSVPifyIFrame");</script>
      </p>
    </div>
  </div>

</div>
