<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="nav-header">Our Story</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-10">
      <p>
        Jamie grew up and went to school in Minnesota. Shortly after undergrad, in 2007, she moved to San Francisco to experience something new. 
      </p>
      <p>
        Nick was born and raised in Kansas City, MO. Shortly after school, in 2008, he moved to SF to work in Silicon Valley as a software engineer.
      </p>
      <p>
        They both enjoyed life in SF, but felt like something was missing so they each signed up for eHarmony, an online dating site. In October 2010, they had their first date at a lovely wine bar in the city. They spent the next few years exploring SF together, traveling, meeting family, and laughing with friends. Nearly four years later, they got engaged at a party to celebrate Jamie finishing her MBA. They currently live in SF with their fun-loving seven-year-old Boston Terrier, Duke.
      </p>
    </div>
  </div>

</div>
