<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="nav-header">Things to do in Minnesota</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4 class="nav-header">We hope you find these resources useful.</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10">
      <ul>
        <li><a href="http://www.twincities.com/shopping/ci_27236461/explore-shops-and-restaurants-white-bear-lake" target="_blank">Charming downtown White Bear Lake</a>
        <li><a href="http://www.virtualtourist.com/travel/North_America/United_States_of_America/Minnesota/Things_To_Do-Minnesota-TG-C-1.html" target="_blank">Minnesota Things to Do</a></li>
        <li><a href="http://blogs.citypages.com/dressingroom/2012/07/50_fun_things_to_do_in_minnesota.php" target="_blank">50 Fun Things to Do in Minnesota</a></li>
        <li><a href="http://www.tripadvisor.com/Attractions-g28944-Activities-Minnesota.html" target="_blank">Top things to do in Minnesota</a>
      </ul>
    </div>
  </div>

</div>
