<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="nav-header">Schedule</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4 class="nav-header">Ceremony and reception</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10">
      <p>
        Saturday October 3rd, 2015 at 4:30pm
      </p>
      <p>
        <small>Shuttle from White Bear Country Inn to Kellerman's will run between 3:45-4:15pm</small>
      </p>
      <p>
        <a href="http://kellermanseventcenter.com" target="_blank">Kellerman's Event Center</a>
      </p>
      <p>
        2222 4th St, White Bear Lake, MN 55110 <a href="https://www.google.com/maps/place/Kellerman's+Event+Center/@45.085128,-93.00674,17z/data=!3m1!4b1!4m2!3m1!1s0x52b2d0e9155a5c83:0x19baa90257ac073f" target="_blank">(map)</a>
      </p>
      <p>
        <small>Shuttle from Kellerman's to White Bear Country Inn will run between 10:30pm-midnight</small>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4 class="nav-header">After party <small>(for those who don't want the night to end)</small></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10">
      <p>
        Following reception
      </p>
      <p>
        <a href="http://www.rudysredeye.com/" target="_blank">Rudy's Redeye Grill</a>
        <small>(attached to White Bear Country Inn)</small>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4 class="nav-header">Breakfast and gift opening <small>(optional)</small></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10">
      <p>
        Sunday October 4th, 2015 from 9am-11am
      </p>
      <p>
        <a href="http://www.whitebearcountryinn.com" target="_blank">White Bear Country Inn</a>, The Dellwood Room
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4 class="nav-header">Royals @ Twins Baseball game <small>(optional)</small></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10">
      <p>
        Sunday October 4th, 2015 at 2:00pm
      </p>
      <p>Details available soon</p>
      <p>
        <a href="https://www.google.com/maps/place/target+field/@44.9817076,-93.2773381,15z/data=!4m2!3m1!1s0x0:0xe4e25962132fc555?sa=X&ei=GUSYVeTnI5CDyQTbqZzgBA&ved=0CJoBEPwSMA4" target="_blank">Target Field</a>
      </p>
    </div>
  </div>

</div>
