<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="nav-header">Schedule</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4 class="nav-header">Ceremony and reception</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10">
      <ul>
        <li>October 3rd, 2015 at 4:30pm</li>
        <li><a href="http://kellermanseventcenter.com" target="_blank">Kellerman's Event Center</a></li>
        <li>2222 4th St, White Bear Lake, MN 55110 <a href="https://www.google.com/maps/place/Kellerman's+Event+Center/@45.085128,-93.00674,17z/data=!3m1!4b1!4m2!3m1!1s0x52b2d0e9155a5c83:0x19baa90257ac073f" target="_blank">(map)</a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4 class="nav-header">Breakfast and gift opening <small>(optional)</small></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10">
      <ul>
        <li>October 4th, 2015 (exact time TBD)</li>
        <li><a href="http://www.whitebearcountryinn.com" target="_blank">White Bear Country Inn</a></li>
        <li>4940 Highway 61 North, White Bear Lake, MN 55110 <a href="https://www.google.com/maps/place/Best+Western+Plus+White+Bear+Country+Inn/@45.090549,-93.00597,17z/data=!3m1!4b1!4m7!1m4!3m3!1s0x52b2d0eca6be2923:0xf3f055f8e191d4d7!2sBest+Western+Plus+White+Bear+Country+Inn!3b1!3m1!1s0x52b2d0eca6be2923:0xf3f055f8e191d4d7" target="_blank">(map)</a></li>
      </ul>
    </div>
  </div>

</div>
