<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="nav-header">Wedding Party</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4 class="nav-header">Parents</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10">
      <p>
        Doug and Denise Firkus <small>Parents of the Bride</small>
      </p>
      <p>
        Keith and Mary Kreeger <small>Parents of the Groom</small>
      </p>
      <p>
        Debbie and Steve Wood <small>Parents of the Groom</small>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4 class="nav-header">Grandparents</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10">
      <p>
        Jack Erickson <small>Grandparent of the Bride</small>
      </p>
      <p>
        Karl and Jean Ann Kreeger <small>Grandparents of the Groom</small>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4 class="nav-header">Bridesmaids</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10">
      <p>
        Cyndy Firkus, Matron of Honor <small>Jamie's sister-in-law</small>
      </p>
      <p>
        Sherry Haskell, Bridesmaid <small>Jamie's sister-in-law's sister</small>
      </p>
      <p>
        Laura Kreeger, Bridesmaid <small>Nick's sister-in-law</small>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4 class="nav-header">Groomsmen</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10">
      <p>
        Alex Kreeger, Best Man <small>Nick's brother</small>
      </p>
      <p>
        Ben Kreeger, Groomsman <small>Nick's brother</small>
      </p>
      <p>
        Bill Firkus, Groomsman <small>Jamie's brother</small>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4 class="nav-header">Other</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10">
      <p>
        Nora Firkus, Flower Girl <small>Jamie's niece</small>
      </p>
      <p>
        Kevin Sharpe, Officiant
      </p>
      <p>
        Joelle Garceau, Ceremony Reader <small>Jamie's aunt</small>
      </p>
      <p>
        David Garceau, Usher <small>Jamie's uncle</small>
      </p>
      <p>
        Brent Wood, Usher <small>Nick's step-brother</small>
      </p>
      <p>
        Mark Kartarik, Musician
      </p>
      <p>
        Mark Newcome Kartarik, Musician
      </p>
      <p>
        Duke, Dog of Honor
      </p>
    </div>
  </div>

</div>

