<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="nav-header">Wedding Party</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4 class="nav-header">Bridesmaids</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10">
      <ul>
        <li>Cyndy Firkus, Matron of Honor <small>Jamie's sister-in-law</small></li>
        <li>Sherry Haskell, Bridesmaid <small>Jamie's sister-in-law's sister</small></li>
        <li>Laura Kreeger, Bridesmaid <small>Nick's sister-in-law</small></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4 class="nav-header">Groomsmen</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10">
      <ul>
        <li>Alex Kreeger, Best Man <small>Nick's brother</small></li>
        <li>Ben Kreeger, Groomsman <small>Nick's brother</small></li>
        <li>Bill Firkus, Groomsman <small>Jamie's brother</small></li>
      </ul>
    </div>
  </div>

</div>

